page-job-create {

.new-job{
	margin-top: 20px;
	padding: center;
	background: url('../assets/img/Newjob.png') repeat transparent;
	background-size: cover;
	width: 170px;
	height: 148px;


	}

ion-label{
	padding-left: 10px;



}

 ion-textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: White;
    resize: none;
}

}
