<ion-header *ngIf="jobDetail">
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ jobDetail.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="jobDetail">
  <!--Aqui deberia ir la imagen del trabajo-->
  <img src = "assets/img/badu-live.png">
  

  <ion-row>
      <ion-col >
        <h2>{{jobDetail.title}}</h2>
      </ion-col>
      <ion-col  icon-end>
          <ion-item>
              <ion-avatar item-center>
                  <img src="{{employer.imageEmployer}}">
              </ion-avatar>
          </ion-item>
          <h6>{{employer.nameEmploye}}</h6>
      </ion-col>
    </ion-row>

  <div class="jobDetail" padding>
   
    <p>{{jobDetail.description}}</p>
    <p>{{jobDetail.jobcost}}</p>
    <p>{{jobDetail.dateposted}}</p>
    <p>{{jobDetail.datestart}}</p>
    <p>{{jobDetail.dateend}}</p>
    <p>{{jobDetail.numbervacancies}}</p>



  </div>

  <div id="map"></div>

  <div padding>
    <button class= "apply" ion-button (click) = "openApplyForm()" color="primary" block>{{ 'APPLY' | translate }}</button>
  </div>

</ion-content>