<ion-header *ngIf="jobDetail">
  <ion-navbar>
    <ion-title>{{ jobDetail.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="jobDetail">
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + jobDetail.profilePic + ')'">
  </div>

  <div class="jobDetail" padding>
    <h2>{{jobDetail.title}}</h2>
    <p>{{jobDetail.description}}</p>
    <p>{{jobDetail.jobcost}}</p>
    <p>{{jobDetail.dateposted}}</p>
    <p>{{jobDetail.datestart}}</p>
    <p>{{jobDetail.dateend}}</p>
    <p>{{jobDetail.numbervacancies}}</p>


    <h2>{{jobDetail.title}}</h2>
    <p>{{jobDetail.description}}</p>
    <p>{{jobDetail.jobcost}}</p>
    <p>{{jobDetail.dateposted}}</p>
    <p>{{jobDetail.datestart}}</p>
    <p>{{jobDetail.dateend}}</p>
    <p>{{jobDetail.numbervacancies}}</p>

    <h2>{{jobDetail.title}}</h2>
    <p>{{jobDetail.description}}</p>
    <p>{{jobDetail.jobcost}}</p>
    <p>{{jobDetail.dateposted}}</p>
    <p>{{jobDetail.datestart}}</p>
    <p>{{jobDetail.dateend}}</p>
    <p>{{jobDetail.numbervacancies}}</p>

    <h2>{{jobDetail.title}}</h2>
    <p>{{jobDetail.description}}</p>
    <p>{{jobDetail.jobcost}}</p>
    <p>{{jobDetail.dateposted}}</p>
    <p>{{jobDetail.datestart}}</p>
    <p>{{jobDetail.dateend}}</p>
    <p>{{jobDetail.numbervacancies}}</p>

    <h2>{{jobDetail.title}}</h2>
    <p>{{jobDetail.description}}</p>
    <p>{{jobDetail.jobcost}}</p>
    <p>{{jobDetail.dateposted}}</p>
    <p>{{jobDetail.datestart}}</p>
    <p>{{jobDetail.dateend}}</p>
    <p>{{jobDetail.numbervacancies}}</p>

  </div>

    <button class="apply" ion-button (click)="Upload()"  full>Upload</button>

</ion-content>