page-job-detail {
  

  
    .topcontent {
      width: 100%;
      margin: 4px;
      position: relative;

      .title{
        background: #FFB84E;
        color: #f4f4f4;
        border-radius: 10px;
        width: 85%;
        height: auto;
        display:inline-block;
        text-align:center;
        line-height: 30px;
        font-weight: bold;
        font-size: 16px;
        margin: 20px;
        position: relative;
        left: 5px;
      }
      .profile-photo {
          width: 100%;
          $photoSize: 55px;
          position: relative;
          float: right;

          img {
              width: $photoSize;
              height: $photoSize;
              border-radius: 50%;
              margin: 0 auto;
          }

          .circle{
              width: 25px;
              height: 25px;
              border-radius: 100%;
              background: #4CADD3;
              color: #f4f4f4;
              display:inline-block;
              text-align:center;
              line-height: 40px;
              position: absolute;
              top: 0;
              left: 45px;
              font-weight: bold;
              font-size: 13px;
          }
          .namestyle{
            line-height: 20px;
            position: absolute;
            font-size: 10px;
            text-align: center;
          }

          .flag{

              float: right;
              img {
                  width: 18px;
                  height: 10px;
                  border-radius: 0%;
                  position: absolute;
                  bottom: 5px;
                  left: 50px;
              }
          }
      }
    }
  .inner{
    width: 910px;
    height: 200px;
    ion-card{
      display: table-cell;
      border: solid 1px #ccc;
    }
  }
  .job-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .job-detail {
    margin: 25px;
    font-size: 17px;
    
  }

  .apply {
    position: fixed;
    left: 0;
    bottom: 50px;
    right: 0;
}


.avatar{
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;


}
 

ion-content{
  background: rgb(229, 227, 223);
  #map {
    width: 100%;
    height: 60%;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map{
      opacity: 1;
    }
  }
}

.cuadro{
    width: 95%;
    height: 135px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: White;
    resize: none;
    margin: auto;
  }
  

}
