<ion-header *ngIf="jobDetail">
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ jobDetail.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="jobDetail">
  <!--Aqui deberia ir la imagen del trabajo-->
  

  <ion-scroll scrollX="true" style="width:100%;height: 175px">
  <div class="inner">
    <ion-card *ngFor="let img of jobimages">
      <img [src]='img.image'>
    </ion-card>
  </div>
  </ion-scroll>


        <div  class="topcontent">
            <div class="title">
                {{jobDetail.title}}
            </div>
    
            <!-- <div class="profile-photo" align-item=center>
                    <div class = "circle">
                        {{rank}}
                    </div>
                    <img [src]="loadImage(employer.imageEmployer)">
                    <div class = "flag"> 
                        <img src= "../../assets/imgs/ecuador.png">
                      </div>
      
                <div class = "namestyle">
                    {{employer.nameEmploye}}
        
                </div>
              </div> -->

      
        </div>
        <ion-list class="job-detail">
            <ion-row>      
              <ion-col no-padding>       
                <ion-item>
                      <h4>Description</h4>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                          sed diam nonummy nibh euismod tincidunt ut laoreet
                          dolore magna aliquam erat volutpat. Ut wisi enim ad
                          minim veniam, quis nostrud exerci tation ullamcorper
                          suscipit lobortis nisl ut aliquip ex ea commodo conse-
                          quat.
                          </p>
                      <!-- <p>{{jobDetail.description}}</p> -->
                      <!-- <p>{{jobDetail.numbervacancies}}</p> -->
                  
                </ion-item>
                <ion-item>
                    <h4>Cost</h4>
                    <p>1500.0</p>
                    <!-- <p>{{jobDetail.jobcost}}</p> -->
                  </ion-item>
              </ion-col>  
            </ion-row>
          <ion-row>
            <ion-col no-padding>
              <ion-item>
                <h4>Start Date</h4>
                <!-- <p>{{jobDetail.datestart | amCalendar}}</p> -->
                <p>21/April/2019</p>
              </ion-item>
            </ion-col>
          </ion-row>    
          <ion-item icon-left>
            <h4>End Date</h4>
            <!-- <p>{{jobDetail.dateend | amCalendar }}</p> -->
            <p>21/November/2019</p>
          </ion-item>
        </ion-list>

        

      
          <!-- <div class="job-detail">
      
          <h2 >Place</h2>
          </div> -->
      
          <!-- <div id="map"></div> -->
      
        <div padding>
          <button class= "apply" ion-button (click) = "openApplyForm()" color="primary" block>{{ 'APPLY' | translate }}</button>
        </div>         
  


</ion-content>