.alertstar{
    button{
         width: 39px;
         margin: 0 !important;
         background-image:url('../assets/icon/star.png');
         background-repeat: no-repeat;
         background-position: center;
         color:#FFB84E  !important;
         position: center;
    }
    .alert-button-group{padding:0; margin-top: 10px; margin-bottom: 10px ;flex-direction: row; justify-content: space-around;}
    .alert-wrapper{border-radius: 6px;}
}

.generalalert{
    .alert-wrapper{border-radius: 6px;}
}