page-general-profile {
    ion-content {

        .profile-top {
            background: #FFB84E;
            width: 100%;
            margin: 0;
            .profile-photo {
                width: 100%;
                $photoSize: 128px;
                text-align: center;
                color: #f4f4f4;
                position: relative;

                img {
                    width: $photoSize;
                    height: $photoSize;
                    border-radius: 50%;
                    margin: 0 auto;
                }

                .circle{
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background: #4CADD3;
                    color: #f4f4f4;
                    display:inline-block;
                    text-align:center;
                    line-height: 40px;
                    position: absolute;
                    top: 0;
                    right: 110px;
                    font-weight: bold;
                    font-size: 18px;
                }

                .flag{

                    float: right;
                    img {
                        width: 26px;
                        height: 18px;
                        border-radius: 0%;
                        position: absolute;
                        bottom: 20px;
                        right: 110px;
                    }
                }
            }

            .preferences{
                width: 100%;
                height: 35px;
                background: #4CADD3;
                color: #f4f4f4;
                display:inline-block;
                text-align:center;
                line-height: 50px;
                ion-icon {
                    font-size: 30px; //Preferred size here
                    margin-left: 7px;
                }
            }
        }

        .profile-detail {

            ion-item {
                ion-icon {
                    font-size: 1.4rem;
                };

            }
        }

        .tool-segment{
            background: #FFB84E;
            color: #f4f4f4;
        }
    
        .tool-preferences{
            color: #4CADD3;
        }

        .title{
            text-align: center;
            font-weight: bold;
            font-size: 15px;
        }
        
    }


}
